POSTGRES_USER=rollout
POSTGRES_PASSWORD=password123
ROLLOUT_AUTH_DB=rollout_auth_db
ROLLOUT_CORE_DB=rollout_core_db
ROLLOUT_JWT_KEY=jULGZ4o6TK2Ael58xOvHi9T6wodmE4AZO4CcYpraD3g
ROLLOUT_JWT_ISSUER=rollout-auth
ROLLOUT_JWT_AUDIENCE=rollout-api
ROLLOUT_ACCESS_TOKEN_LIFETIME_MINUTES=60
ROLLOUT_REFRESH_TOKEN_LIFETIME_DAYS=30